# Домашнее задание 2 

Необходимо реализовать схему, указанную в hw_diagram.pdf

## Описание таблиц 
PeopleStatus - Описание возможных статусов людей, которые есть в университете (Студент, Преподаватель).
Faculties - Описание факультетов, которые есть в университете (KIB, IT, и т.д.).
People - Информация о людях в университете (Имя, почта, ссылка на факультет, ссылка на статус).
Classes - Описание возможных классов в университете (название (Математический анализ) и ссылка на факультет).
Semesters - Справочник семестров факультета(например, Осень2016, '2016-01-01', '2016-12-31').
ClassesSchedule - Расписание классов (ссылки на семестр, преподавателя и курс, день недели, время начала).
StudentsSchedule - Таблица, описывающая, какой студент ходит на какой курс.

In [2]:
%load_ext sql
%sql sqlite:///Lab2-3.db

'Connected: @Lab2-3.db'

## Создание таблиц
Напишет ниже скрипты по созданию таблиц с учетом всех внешних ключей.

In [3]:
%%sql
PRAGMA foreign_keys = ON

 * sqlite:///Lab2-3.db
Done.

[]

In [4]:
%%sql
--Удаление таблиц
--Удаляем таблицу с внешним ключами, если сделаем наоборот, то не на что будем ссылаться => противоречие
drop table if exists StudentsShedule;
drop table if exists ClassesShedule;
drop table if exists People;
drop table if exists Classes;
drop table if exists Semesters;
drop table if exists PeopleStatus;
drop table if exists Faculties;

 * sqlite:///Lab2-3.db
Done.
Done.
Done.
Done.
Done.
Done.
Done.

[]

In [8]:
%%sql
-- Идем по нарастающей, то есть создаем таблицы сначала без внешних ключей, потом с внешними
CREATE TABLE Faculties 
(
    id int NOT NULL PRIMARY KEY, 
    name varchar(100)
);

CREATE TABLE PeopleStatus 
(
    id int NOT NULL PRIMARY KEY, 
    name varchar(100)
);

CREATE TABLE Semesters 
(
    id int NOT NULL PRIMARY KEY, 
    shortname varchar(100),
    date_start date,
    date_end date
);

CREATE TABLE Classes  
(
    id int NOT NULL PRIMARY KEY, 
    description varchar(100),
    fac_id int,
    foreign key(fac_id) REFERENCES  Faculties(id)
);

CREATE TABLE People 
(
    id int NOT NULL PRIMARY KEY, 
    name varchar(100),
    email varchar(100),
    fac_id integer,
    status_id integer,
    FOREIGN KEY(fac_id) REFERENCES  Faculties(id),
    FOREIGN KEY(status_id) REFERENCES  PeopleStatus(id)
);

CREATE TABLE ClassesShedule 
(
    id int NOT NULL PRIMARY KEY, 
    class_id int,
    teacher_id int,
    semester_id int,
    week_day int,
    time_start varchar(100),
    FOREIGN KEY(class_id) REFERENCES  Classes(id),
    FOREIGN KEY(semester_id) REFERENCES  Semesters(id),
    FOREIGN KEY(teacher_id) REFERENCES People(id)
);

CREATE TABLE StudentsShedule 
(
    student_id int, 
    classesshedule_id int,
    FOREIGN KEY(student_id) REFERENCES People(id),
    FOREIGN KEY(classesshedule_id) REFERENCES ClassesShedule(id)
);

 * sqlite:///Lab2-3.db
Done.
Done.
Done.
Done.
Done.
Done.
Done.

[]

## Добавление записей в таблицы
Приведите примеры добавления записей в каждую из таблиц

## Описание таблиц 
PeopleStatus - Описание возможных статусов людей, которые есть в университете (Студент, Преподаватель).
Faculties - Описание факультетов, которые есть в университете (KIB, IT, и т.д.).
People - Информация о людях в университете (Имя, почта, ссылка на факультет, ссылка на статус).
Classes - Описание возможных классов в университете (название (Математический анализ) и ссылка на факультет).
Semesters - Справочник семестров факультета(например, Осень2016, '2016-01-01', '2016-12-31').
ClassesSchedule - Расписание классов (ссылки на семестр, преподавателя и курс, день недели, время начала).
StudentsSchedule - Таблица, описывающая, какой студент ходит на какой курс.

In [13]:
%%sql

INSERT INTO PeopleStatus(id, name) VALUES (1, 'student');
INSERT INTO PeopleStatus(id, name) VALUES (2, 'teacher');

INSERT INTO Faculties(id, name) VALUES (1, 'KIB');
INSERT INTO Faculties(id, name) VALUES (2, 'IT');
INSERT INTO Faculties(id, name) VALUES (3, 'INTEGU');
INSERT INTO Faculties(id, name) VALUES (4, 'FTI');
INSERT INTO Faculties(id, name) VALUES (5, 'RTS');

insert Into Semesters(id, shortname, date_start, date_end ) values (1, '-I-','01-09-2018','31-01-2019');
insert Into Semesters(id, shortname, date_start, date_end ) values (2, '-II-','01-02-2019','31-05-2019');

insert Into People(id, name, email, fac_id, status_id) values (1, 'Mishan Aliev', "MishanAliev@mail.com", 1, 1);
insert Into People(id, name, email, fac_id, status_id) values (2, 'Ali Mishanov', "AliMishanov@gmail.com", 1, 1);
insert Into People(id, name, email, fac_id, status_id) values (3, 'Ivan Ivanov', "'IVAN@yandex.com", 3, 1);
insert Into People(id, name, email, fac_id, status_id) values (4, 'Smirna Smirnov', "Smirna1976@mirea.com", 1, 2);
insert Into People(id, name, email, fac_id, status_id) values (5, 'Oleg Olegov', "Olegov87@mirea.com", 2, 2);

insert Into Classes(id, description, fac_id) values (1, 'Computer science', 3);
insert Into Classes(id, description, fac_id) values (2, 'Economics', 1);

insert Into ClassesShedule(id, class_id, teacher_id, semester_id, week_day, time_start ) values (1, 1, 4, 1, 1,'09:00');
insert Into ClassesShedule(id, class_id, teacher_id, semester_id, week_day, time_start ) values (2, 2, 5, 1, 1,'09:00');
insert Into ClassesShedule(id, class_id, teacher_id, semester_id, week_day, time_start ) values (3, 1, 4, 1, 3,'12:00');
insert Into ClassesShedule(id, class_id, teacher_id, semester_id, week_day, time_start ) values (4, 2, 5, 1, 4,'12:00');

insert Into StudentsShedule(student_id,classesshedule_id) values (1, 1);
insert Into StudentsShedule(student_id,classesshedule_id) values (1, 4);
insert Into StudentsShedule(student_id,classesshedule_id) values (2, 1);
insert Into StudentsShedule(student_id,classesshedule_id) values (2, 4);
insert Into StudentsShedule(student_id,classesshedule_id) values (3, 2);
insert Into StudentsShedule(student_id,classesshedule_id) values (3, 3);

 * sqlite:///Lab2-3.db
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.

[]

In [15]:
%%sql
SELECT name, Classes.description, ClassesShedule.week_day, ClassesShedule.time_start
FROM StudentsShedule
JOIN People ON People.id = StudentsShedule.student_id
JOIN ClassesShedule ON StudentsShedule.classesshedule_id = ClassesShedule.id
JOIN Classes ON ClassesShedule.class_id = Classes.id
GROUP BY People.id, classesshedule_id

 * sqlite:///Lab2-3.db
Done.

[('Mishan Aliev', 'Computer science', 1, '09:00'),
 ('Mishan Aliev', 'Economics', 4, '12:00'),
 ('Ali Mishanov', 'Computer science', 1, '09:00'),
 ('Ali Mishanov', 'Economics', 4, '12:00'),
 ('Ivan Ivanov', 'Economics', 1, '09:00'),
 ('Ivan Ivanov', 'Computer science', 3, '12:00')]